body{
  background-color: hsl(212, 45%, 89%);
  width: 1440px;
}

img{
  width: 300px;
}
p{
  font-family: 'Outfit', sans-serif;
}
.Container{
  margin:  150px auto;
  width: 20%;
  position: relative;
}

.content{
  position: absolute;
  background-color: white;
  text-align: center;
  padding-bottom: 10px;
  border-radius: 15px;
}

.qrcode{
  width: 90%;
  padding-top: 10px;
  border-radius: 15px;
}

.line1
{
  width: 70%;
  margin: 10px auto;
  font-size: 17px;
  letter-spacing: 0.5px;
}

.line2{
  color: grey;
  font-size: 12px;
  width: 70%;
  margin: 10px auto;
}
